<div class="container" style="margin-top:100px">
<div class="row">
  <div class="col-sm-2"></div>
  <div class="col-sm-8">
     <mat-card>                   
      <p class="h5 text-center mb-4">Change Password</p>
              <br>
    <form [formGroup]="companyChangePasswordForm" novalidate (ngSubmit)="onSubmitCompanyChangePasswordForm(companyChangePasswordForm.value)">            
        
      <mat-form-field class="full-width">
        <input  [type]="hide ? 'password' : 'text'" matInput maxlength="25" placeholder="Old Password" formControlName="oldPassword" required>
        <span matSuffix (click)="hide = !hide"><i class="fa fa-eye " style="color:gray;"></i></span>
        <mat-error class="help-block form-error text-danger small" *ngIf="companyChangePasswordForm.controls['oldPassword'].errors?.required &&
           companyChangePasswordForm.controls['oldPassword'].touched">Old Password is Required </mat-error>
        <mat-error class="help-block form-error text-danger small" *ngIf="companyChangePasswordForm.controls['oldPassword'].errors?.minlength">Minlength is 5 required </mat-error>
        <mat-error class="help-block form-error text-danger small" *ngIf="companyChangePasswordForm.controls['oldPassword'].errors?.maxlength">Maxlength is 15 required </mat-error>
        <mat-error class="help-block form-error text-danger small" *ngIf="companyChangePasswordForm.controls['oldPassword'].errors?.pattern">password must contain 1 capital,small letter ,1 digit & 1 special character </mat-error> 
   
      </mat-form-field>
 

      <mat-form-field class="full-width">
        <input  [type]="hide ? 'password' : 'text'" matInput maxlength="25" placeholder="New Password" formControlName="newPassword" required>
        <span matSuffix (click)="hide = !hide"><i class="fa fa-eye " style="color:gray;"></i></span>
        <mat-error class="help-block form-error text-danger small" *ngIf="companyChangePasswordForm.controls['newPassword'].errors?.required &&
        companyChangePasswordForm.controls['newPassword'].touched">new Password is Required </mat-error>
        <mat-error class="help-block form-error text-danger small" *ngIf="companyChangePasswordForm.controls['newPassword'].errors?.minlength">Minlength is 5 required </mat-error>
        <mat-error class="help-block form-error text-danger small" *ngIf="companyChangePasswordForm.controls['newPassword'].errors?.maxlength">Maxlength is 15 required </mat-error>
        <mat-error class="help-block form-error text-danger small" *ngIf="companyChangePasswordForm.controls['newPassword'].errors?.pattern">password must contain 1 capital,small letter ,1 digit & 1 special character </mat-error> 

      </mat-form-field>

      <mat-form-field class="full-width" hintLabel="Must be same as new password">
          <input matInput maxlength="25" placeholder="Confirm Password" formControlName="confirmPassword" required>
         <span matSuffix (click)="hide = !hide"><i class="fa fa-lock " style="color:gray;"></i></span>
            <mat-error class="help-block form-error text-danger small" *ngIf="companyChangePasswordForm.controls['confirmPassword'].errors?.required &&
            companyChangePasswordForm.controls['confirmPassword'].touched">Confirm Password is Required </mat-error>
           <mat-error class="help-block form-error text-danger small" *ngIf="companyChangePasswordForm.controls['confirmPassword'].errors?.minlength">Minlength is 5 required </mat-error>
           <mat-error class="help-block form-error text-danger small" *ngIf="companyChangePasswordForm.controls['confirmPassword'].errors?.maxlength">Maxlength is 15 required </mat-error>
           <mat-error class="help-block form-error text-danger small" *ngIf="companyChangePasswordForm.controls['confirmPassword'].errors?.pattern">password must contain 1 capital,small letter ,1 digit & 1 special character </mat-error> 

        </mat-form-field>
      <br><br> 
      <button mdbBtn type="submit" color="elegant" class="waves-light btn-color" mdbWavesEffect [disabled]="!companyChangePasswordForm.valid">
        Update
      </button>&nbsp;&nbsp;
      <button mdbBtn type="reset" color="elegant" class="waves-light btn-color" mdbWavesEffect [disabled]="!companyChangePasswordForm.valid">
         Reset
      </button>


    </form>
                 
            
    </mat-card> 
  </div>
  <div class="col-sm-2"></div>
</div>
</div>
<br><br>