<!--
  navigation
-->
<mdb-navbar  SideClass="navbar fixed-top navbar-expand-lg navbar-dark  mdb-color scrolling-navbar " [containerInside]="false" >
 
    <mdb-navbar-brand>
            <a class="logo navbar-brand" href="#">
              <strong>
                  <img height="50" width="170" src="../../assets/images/logo-final.png">
              </strong>
            </a>
        </mdb-navbar-brand>
        <links>
            <ul class="navbar-nav ml-auto">
                <li class="nav-item active waves-light" >
                    <a routerLink='../dashboard' class="nav-link">Dashboard<span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item waves-light" >
                    <a [routerLink]="" class="nav-link" (click)="logout()">Logout</a>
                </li>
                            
            </ul>
        </links>
    </mdb-navbar>

 <!--
   header image
 -->
 <div class="row">
    <div class="col-sm-12 col-md-12">  
        <div id="box1" style="background-image:url(assets/images/dashboard.jpg) ;
        height: 50vh;width: 100%;background-size: cover;display: table;background-attachment: fixed;" class="img-responsive">
         <br><br>  
        <div class="row">
             <div class="col-md-4"></div>
             <div class="col-md-4">
                <div class="box text-center" style="text-align: center">
                    Hey Welcome !
                  </div>
                  <div class="word text-center">
                        
                      <span>{{companyName}} </span>
                      <span>{{companyName}}</span>
                      <span>{{companyName}}</span>
                      <span>{{companyName}}</span>
                      <span>{{companyName}}</span>
                     
                   </div>
             </div>
             <div class="col-md-4">
                
         
             </div>
              
          </div>      
      </div>
    </div>	
</div>


<!--
  body
-->

<!--cards for user dashboards-->
<div class="container" [hidden]="hideElement">
  <div class="row">
    <div class=" col-md-4">
      <mat-card class="dashboard-cards" style="box-shadow:3px 3px 5px 6px #ccc;" >
        <mat-card-content>
          <h3>Registered Users:{{count}}</h3>
          <div class="pic">
              <img  src="assets/images/userRegistered.png" alt="Photo of a Shiba Inu">
               
          </div>
          <!--
          <div class="action">
            <button routerLink="" routerLinkActive="active" class="btn btn-outline-info btn-lg">Blank</button>
          </div> -->
          <ul class="bottom-space">
            <li><a href="#"></a></li>
            <li><a href="#" ></a></li>
            <li><a href="#" ></a></li>
          </ul>
        </mat-card-content>
      </mat-card> 
    </div>
    <div class=" col-md-4">
      <mat-card class="dashboard-cards" style="box-shadow:3px 3px 5px 6px #ccc;" >
        <mat-card-content>
          <div class="pic">
               <img  src="assets/images/createQuiz.png" alt="">
          </div>
          <div class="action">
            <button routerLink="createQuiz" routerLinkActive="active" class="btn btn-outline-info btn-lg">Create Quiz</button>
          </div>
          <ul class="bottom-space">
            <li><a href="#"></a></li>
            <li><a href="#" ></a></li>
            <li><a href="#" ></a></li>
          </ul>
        </mat-card-content>
      </mat-card> 
    </div>
    <div class=" col-md-4  ">
      <mat-card class="dashboard-cards" style="box-shadow:3px 3px 5px 6px #ccc;" >
        <mat-card-content>
          <div class="pic">
               <img  src="assets/images/editQuiz.png" alt="Photo of a Shiba Inu">
          </div>
          <div class="action">
            <button routerLink="createdQuiz" routerLinkActive="active" class="btn btn-outline-info btn-lg">Created Quizzes</button>
          </div>
          <ul class="bottom-space">
            <li><a href="#"></a></li>
            <li><a href="#" ></a></li>
            <li><a href="#" ></a></li>
          </ul>
        </mat-card-content>
      </mat-card> 
    </div>
       
  </div> 
  <div class="row">
      <div class=" col-md-4">
        <mat-card class="dashboard-cards" style="box-shadow:3px 3px 5px 6px #ccc;" >
          <mat-card-content>
            <div class="pic">
                 <img  src="assets/images/student_details.png" alt="Photo of a Shiba Inu">
            </div>
            <div class="action">
              <button routerLink="studentDetails" routerLinkActive="active" class="btn btn-outline-info btn-lg">Student Details</button>
            </div>
            <ul class="bottom-space">
              <li><a href="#"></a></li>
              <li><a href="#" ></a></li>
              <li><a href="#" ></a></li>
            </ul>
          </mat-card-content>
        </mat-card> 
      </div>
      <div class=" col-md-4">
        <mat-card class="dashboard-cards" style="box-shadow:3px 3px 5px 6px #ccc;" >
          <mat-card-content>
            <div class="pic">
                 <img  src="assets/images/result.png" alt="">
            </div>
            <div class="action">
              <button routerLink="result" routerLinkActive="active" class="btn btn-outline-info btn-lg">Result</button>
            </div>
            <ul class="bottom-space">
              <li><a href="#"></a></li>
              <li><a href="#" ></a></li>
              <li><a href="#" ></a></li>
            </ul>
          </mat-card-content>
        </mat-card> 
      </div>
      <div class=" col-md-4  ">
        <mat-card class="dashboard-cards" style="box-shadow:3px 3px 5px 6px #ccc;" >
          <mat-card-content>
            <div class="pic">
                 <img  src="assets/images/ChangePassword.png" alt="Photo of a Shiba Inu">
            </div>
            <div class="action">
              <button class="btn btn-outline-info btn-lg" routerLink="changePassword" routerLinkActive="active">Change Password</button>
            </div>
            <ul class="bottom-space">
              <li><a href="#"></a></li>
              <li><a href="#" ></a></li>
              <li><a href="#" ></a></li>
            </ul>
          </mat-card-content>
        </mat-card> 
      </div>
         
    </div>   
</div>



<!--
    footer
-->
<br>

<router-outlet></router-outlet>
