<mdb-navbar  SideClass="navbar fixed-top navbar-expand-lg navbar-dark  mdb-color scrolling-navbar " [containerInside]="false" >
 
  <mdb-navbar-brand>
    <a class="logo navbar-brand" href="#">
      <strong style="font-weight:bold;">
        <img height="50" width="170" src="../../../assets/images/logo-final.png">
      </strong>
    </a>
</mdb-navbar-brand>
        <links>
            <ul class="navbar-nav ml-auto">
                <li class="nav-item active waves-light" >
                    <a routerLink="../../home" routerLinkActive="active" class="nav-link">Home<span class="sr-only">(current)</span></a>
                </li>
               
                            
            </ul>
        </links>
    </mdb-navbar>


<div class="container" style="margin-top:100px">
  <div class="row">
    <div class="col-sm-2"></div>
    <div class="col-sm-8">
       <mat-card>
          <!-- Login form -->
    <form [formGroup]="adminLoginForm" novalidate (ngSubmit)="onSubmitAdminLoginForm(adminLoginForm.value)">
      
        <p class="h5 text-center mb-4">Sign in</p>
   
                 
        <mat-form-field class="full-width">
          <input matInput maxlength="25" placeholder="Email" formControlName="email" required>
          <span matSuffix (click)="hide = !hide"><i class="fa fa-envelope" style="color:gray;"></i></span>
          <mat-error class="help-block form-error text-danger small" *ngIf="adminLoginForm.controls['email'].errors?.required &&
            adminLoginForm.controls['email'].touched">Email is <b>Required</b></mat-error> 
          <mat-error class="help-block form-error text-danger small" *ngIf="adminLoginForm.controls['email'].errors?.pattern">Enter valid email</mat-error> 
 
        </mat-form-field>
        <mat-form-field class="full-width">
          <input matInput maxlength="25" placeholder="Password" formControlName="password" [type]="hide ? 'password' : 'text'"  required>
          <span matSuffix (click)="hide = !hide"><i class="fa fa-lock " style="color:gray;"></i></span>
          <mat-error class="help-block form-error text-danger small" *ngIf="adminLoginForm.controls['password'].errors?.required &&
           adminLoginForm.controls['password'].touched">Password is <b>Required</b> </mat-error>
         <mat-error class="help-block form-error text-danger small" *ngIf="adminLoginForm.controls['password'].errors?.minlength">Minlength is 5 required </mat-error>
         <mat-error class="help-block form-error text-danger small" *ngIf="adminLoginForm.controls['password'].errors?.maxlength">Maxlength is 15 required </mat-error>

        </mat-form-field>
        <br><br> 
        <button mdbBtn color="mdb-color" class="waves-light" mdbWavesEffect type="submit" [disabled]="!adminLoginForm.valid">
          Login
        </button>

      </form>
     
  <!-- Login form --> 
       </mat-card> 
    </div>
    <div class="col-sm-2"></div>
  </div>
</div>
<br><br>