<mdb-navbar  SideClass="navbar fixed-top navbar-expand-lg navbar-dark  mdb-color scrolling-navbar " [containerInside]="false" >
 
    <mdb-navbar-brand>
            <a class="logo navbar-brand" href="#"><strong>Navbar</strong></a>
        </mdb-navbar-brand>
        <links>
            <ul class="navbar-nav ml-auto">
                <li class="nav-item active waves-light" >
                    <a routerLink="../home" routerLinkActive="active" class="nav-link">Home<span class="sr-only">(current)</span></a>
                </li>
               
                            
            </ul>
        </links>
    </mdb-navbar>


<div class="container" style="margin-top:100px">
  <div class="row">
    <div class="col-sm-2"></div>
    <div class="col-sm-8">
       <mat-card>                   
        <p class="h5 text-center mb-4">Forgot Paasword</p>
            <mat-tab-group class="example-stretched-tabs"> 
              <mat-tab label="User" class="active" >
                <br>
                <form [formGroup]="userForgotPasswordForm" novalidate (ngSubmit)="onSubmitUserForgotPasswordForm(userForgotPasswordForm.value)">            
                 
        <mat-form-field class="full-width">
          <input matInput maxlength="25" placeholder="Email" formControlName="email" required>
          <span matSuffix ><i class="fa fa-envelope" style="color:gray;"></i></span>
          <mat-error class="help-block form-error text-danger small" *ngIf="userForgotPasswordForm.controls['email'].errors?.required &&
            userForgotPasswordForm.controls['email'].touched">Email is <b>Required</b></mat-error> 
          <mat-error class="help-block form-error text-danger small" *ngIf="userForgotPasswordForm.controls['email'].errors?.pattern">Enter valid email</mat-error> 
 
        </mat-form-field>
        <button class="submit-btn" color="primary" mat-raised-button type="submit" [disabled]="!userForgotPasswordForm.valid">
              Send
        </button>
      </form>
                   
               </mat-tab>   
               <mat-tab label="Company" >
               <br>
               <form [formGroup]="companyForgotPasswordForm" novalidate (ngSubmit)="onSubmitCompanyForgotPasswordForm(companyForgotPasswordForm.value)">
                
                 
                  <mat-form-field class="full-width">
                      <input matInput maxlength="25" placeholder="Email" formControlName="email" required>
                      <span matSuffix ><i class="fa fa-envelope" style="color:gray;"></i></span>
                      <mat-error class="help-block form-error text-danger small" *ngIf="companyForgotPasswordForm.controls['email'].errors?.required &&
                        companyForgotPasswordForm.controls['email'].touched">Email is <b>Required</b></mat-error> 
                      <mat-error class="help-block form-error text-danger small" *ngIf="companyForgotPasswordForm.controls['email'].errors?.pattern">Enter valid email</mat-error> 
             
                    </mat-form-field>
                       
                      <button class="submit-btn" color="primary" mat-raised-button type="submit" [disabled]="!companyForgotPasswordForm.valid">
                        Send
                      </button>
                      
                    </form>
                    <BR>
                  
       
              </mat-tab>
               <br>
       
            </mat-tab-group>
   
      </mat-card> 
    </div>
    <div class="col-sm-2"></div>
  </div>
</div>
<br><br>